body{
  background: #000300;
  text-align: center;
  padding: 0;
  color: #Fffeff;
  margin: 0;
}
#content {
  display: block;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
section {
  margin: 4rem auto;
  display: block;
  align-content: center;
}

h1{
  font-family: 'Russo One', sans-serif;
  color: #fffeff
}
h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
p, a{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
li{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 10px;
  color: #faff00;
}
img {width: 100%;}
nav {
  background: #02a9ea;
  height: 9rem;
}

nav ul, .bigNumberList, .iconList {
  list-style-type: none;
  margin: 0;
  padding: 0px;

}

.bigNumberList, .iconList {
  display: inline-block;
}

nav ul {
  height: 100%;
}

nav li, .bigNumberList li, .iconList li {
  width: 100%;
  height: 33.333333%;
  float: left;
  display: block;
  font-size: 1rem;
  box-sizing: border-box;
  text-align: center;
}

nav a {
    color: #FFFeFF;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

nav a:focus {
  background: #FFFeFF;
  color: #2D5D6C;
}
.active {
  color: #8CBFCF;
  background: #000300;
}
.funfact {
  background: #ff01fb;
  color: #000300;
  margin: 0;
  padding: 0;
}
.funfact img {
  width: 50%;
  margin: auto;
  width: 300px;
  height: auto;
  display:block;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  align-items: flex-start;
  height: 700px;

}
.flex-container img{
  width: 300px;
  margin: 10px;
  padding: 10px;
}
.flex-container h2{
  font-size: 14pt;
}
#quiz {
	margin-left: 10px;
	background: #02a9ea;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;

}

input {
	margin-bottom: 20px;
	display: block;
}

#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}


#button {
	background: #ff01fb;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: #000300;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}



#button:hover {
	background: #faff00;
	border: none;
	color: black;
	cursor: pointer;

}

#after_submit {
	visibility: hidden;
	background: #ff01fb;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 30px;


}

#picture {
	width: 375px;
	height: 245px;
}



#mc {
	display: inline;
}
.disabilityType {
  width: 100%;
  display: block;
  font-weight: bolder;
  margin-top: 1rem;
}


@media (min-width: 425px) {
.iconList li {
  width: 50%;
}

}

@media (min-width: 655px) {
  nav {
    height: 3rem;
  }
  nav li {
    height: 100%;
  }
  nav li, .bigNumberList li, .iconList li {
    width: 33.333333%;
  }
}

@media (min-width: 850px) {

.iconList li {
  width: 20%;
}

}
