body{
  background: #000300;
  text-align: center;
  width: 90%;
  max-width: 600px;
  color: #Fffeff;
  margin: auto;
  margin-top: 3rem;
}
h1{
  font-family: 'Russo One', sans-serif;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
li{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 10px;
  color: #faff00;
}
img {width: 50%;}
nav{
  background: #3D5467;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;}
