body{
  background: #686963;
  text-align: center;
  width: 90%;
  max-width: 600px;
  color: #F1EDEE;
  margin: auto;
  margin-top: 3rem;
}
h1{
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}
h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
p{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
li{
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  padding: 10px;
  color: #DB5461;
}
img {width: 50%;}
nav{
  background: #3D5467;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;}
